* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  background-color: #25282a;
  height: inherit;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  height: inherit;
}

.mem-slider {
  width: 100%;
  height: auto;
  padding-top: 10vh;
  /* background-color: white; */
  border-radius: 10px;
}

.mem-slider > input {
  display: none;
}

.mem-slider__slides {
  width: inherit;
  height: 700px;
  overflow: hidden;
  border-radius: 10px;
  /* position: relative; */
}

.slides {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  /* position: relative; */
  /* z-index: 0; */
  
}

.slide1 {
  background-image: url("./src/img/11.jpg");
}

.slide2 {
  background-image: url("./src/img/22.jpg");
}

.slide3 {
  background-image: url("./src/img/33.jpg");
}

.slide4 {
  background-image: url("./src/img/44.jpg");
}

.text-and-controls {
  margin-top: 3%;
  margin-right: 2px;
  display: flex;
  justify-content: space-between;

}

.text-and-controls__controls {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 120px; */
  /* width: 118px; */
  display: flex;
}

.text-and-controls__controls label {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  /* position: relative; */
}

.text-and-controls__controls label:last-child {
  margin-right: 0;
}

.text-and-controls__controls label::after {
  width: 10px;
  height: 10px;
  content: "";
  display: block;
  border: 1px solid blue;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  left: 4px;
  top: 4px;
}

.text-and-controls__controls label:hover::after  {
  border: 1px solid white;
  background-color: white;
}

/* .text-and-controls__controls label:hover, */
#radio1:checked ~ .text-and-controls > .text-and-controls__controls label:nth-child(1)::after,
#radio2:checked ~ .text-and-controls > .text-and-controls__controls label:nth-child(2)::after,
#radio3:checked ~ .text-and-controls > .text-and-controls__controls label:nth-child(3)::after,
#radio4:checked ~ .text-and-controls > .text-and-controls__controls label:nth-child(4)::after {
	background-color: transparent;
}

#radio1:checked ~ .mem-slider__slides > .slide1,
#radio2:checked ~ .mem-slider__slides > .slide2,
#radio3:checked ~ .mem-slider__slides > .slide3,
#radio4:checked ~ .mem-slider__slides > .slide4 {
  transition: transform .5s ease-in-out;
  opacity: 1;
  /* z-index: 1; */
  /* top: -100%; */
  /* display: block; */
}

#radio1 ~ .mem-slider__slides > .slide1 {
  transform: translate(100%, 0);
}

#radio1:checked ~ .mem-slider__slides > .slide1 {
  transform: translate(0, 0);
}

#radio2 ~ .mem-slider__slides > .slide2 {
  transform: translate(100%, -100%);
}

#radio2:checked ~ .mem-slider__slides > .slide2 {
  transform: translate(0, -100%);
}

#radio3 ~ .mem-slider__slides > .slide3 {
  transform: translate(100%, -200%);
}

#radio3:checked ~ .mem-slider__slides > .slide3 {
  transform: translate(0, -200%);
}

#radio4 ~ .mem-slider__slides > .slide4 {
  transform: translate(100%, -300%);
}

#radio4:checked ~ .mem-slider__slides > .slide4 {
  transform: translate(0, -300%);
}

.text-and-controls__text {
  font-size: 2rem;
  color: #c9c9c4;
  overflow: hidden;
  white-space: nowrap;
  /* flex-grow: 1; */
  max-width: 550px;
}

.text-and-controls__text span {
  opacity: 0;
  position: relative;
  display: inline-block;
  /* text-overflow: clip; */
}

#radio1:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(1),
#radio2:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(2),
#radio3:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(3),
#radio4:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(4) {
  opacity: 1;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  /* display: inline-block; */
}

.text-and-controls__text span:nth-child(1) {
  transform: translateX(100px);
}

#radio1:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(1) {
  transform: translateX(0);
}

.text-and-controls__text span:nth-child(2) {
  transform: translateX(-284px);
}

#radio2:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(2) {
  transform: translateX(-384px);
}

.text-and-controls__text span:nth-child(3) {
  transform: translateX(-554px);
}

#radio3:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(3) {
  transform: translateX(-654px);
}

.text-and-controls__text span:nth-child(4) {
  transform: translateX(-680px);
}

#radio4:checked ~ .text-and-controls > .text-and-controls__text span:nth-child(4) {
  transform: translateX(-780px);
}
